<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <div class="titulo" align="center">
        <h1>VETERINARIA</h1>    
    </div>



    <div class="Centrado" >


        <div>
        <label>Nombre del animal: </label>
        <input [(ngModel)]= "nombre" type="text">
        </div>

        <br>

        <div>
           <label>URL de la imagen: </label>
           <input [(ngModel)]= "imagen" type="text">
        </div>
            
        <br>

        <div>
            <label>Tipo de animal: </label>
            <select name="seleccionTipo" [(ngModel)]="tipo">
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
                <option value="Pez">Pez</option>
            </select>
        </div>
        
        <br>

        <input (click)="enviarAListado($event)" type="button"  value="Enviar" class="buttonCSS">


    </div>


    <div class="Centrado" >

    <div *ngFor="let mascota of lista; index as i" class="mascota" width = 50>
        <app-mascota [mascota]="mascota"> </app-mascota>
        <hr>
    </div>
    


</div>

   

</body>
</html>